.billboard {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);

    &__image {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__meta {
        position: absolute;
        top: 0;
        bottom: 35%;
        left: 5%;
        width: 35%;
        z-index: 10;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__title {
        font-size: 3rem;
        color: $white;
    }

    &__overview {
        font-size: 1.4rem;
        margin-top: 10px;
        color: $white;
    }
}
