.genre {
    margin: 3rem 0;

    &__title {
        margin: 0;
        color: $mercuryGrey;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 20px 20px 20px;
    }
}

.movie-grid {
    display: flex;
    overflow-x: scroll;

    .movie-grid__item {
        position: relative;
        display: block;
        flex: 1 1 0px;
        transition: transform 500ms;
        min-width: 25%;
        height: 120px;

        background-color: $netflixBlack;
        animation-name: backgroundColour;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        img {
            max-width: 100%;
        }
    }

    &:focus-within .movie-grid__item,
    &:hover .movie-grid__item {
        transform: translateX(-25%);
    }

    &--loading {
        overflow-x: hidden;

        .loading__placeholder {
            flex: 1 1 0px;
            height: 120px;
            margin: 0 15px;

            background-color: $netflixBlack;
            animation-name: backgroundColor;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }
}


.movie-grid__item:focus ~ .movie-grid__item,
.movie-grid__item:hover ~ .movie-grid__item {
  transform: translateX(25%);
}

.movie-grid .movie-grid__item:focus,
.movie-grid .movie-grid__item:hover {
  transform: scale(1.5);
  z-index: 100;
}


@keyframes backgroundColor {
  0% {
    background-color: $netflixBlack;
  }
  50% {
    background-color: #2E2E2E;
  }
  100% {
    background-color: $netflixBlack;
  }
}